---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="about.html" class="button fit">About</a></li>
								<li><a href="mailto:nicolaspettican@gmail.com" class="button fit">Contact me</a></li>
								<li><a href="whichcv.html" class="button fit">CV</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 special">
						<div class="inner">
							<header class="major">
								<h2>Welcome to my website,<br />
								Here you can learn a little more about me</h2>
								<p><span class="icon fa-quote-left"></span> Life moves pretty fast. If you don't stop and look around once in a while, you could miss it. <span class="icon fa-quote-right"></span></p>
								<p>I enjoy learning code, flash animation and creating websites like this one as a hobby.<br />I use html, css, js and git, making it incredibly cheap and easy to create and host amazing websites!</p>
								<p>Find me on social media.</p>
							</header>
                                                        <ul class="icons">
    							{% for socloc in site.social %}
   							{% if socloc[1] %}
    							{% if socloc[0] == 'email' %}
    							<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           							><span class="label">E-mail</span></a></li>
    							{% else %}
    								<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           							><span class="label">{{ socloc[0] }}</span></a></li>
    							{% endif %}
    							{% endif %}
    							{% endfor %}
  							</ul>
								<hr />
								<h2>Below are my highlighted stepping stones and roles</h2>

						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style4">
						<section class="spotlight">
							<div class="image"><img src="images/ambassador.jpg" alt="" /></div><div class="content">
								<h5>2016 - Present</h5>								
								<h2>Postgraduate Student Ambassador<br />
								University of Manchester</h2>
								<p>Currently provide tours, activities and general information for prospective undergraduates and postgraduate students (home and international) in the Faculty of Life Sciences while answering their queries about the university, culture and student life over emails and social media and through the Manchester Calling Program.</p>
							</div>
						</section>

						<section class="spotlight">
							<div class="image"><img src="images/bioinfosoc.jpg" alt="" /></div><div class="content"> 									<h5>2015 - Present</h5>									
								<h2>Committee executive<br />
								Bioinformatics Society</h2>
								<p>The current president and co-founder of the Bioinformatics Society. Represent the society as figurehead, secure funding and set goals and objectives whilst overseeing their fulfilment. The society delivers workshops and talks about techniques and resources that can aid researchers and students when analysing their biological data.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/bioinfo.jpg" alt="" /></div><div class="content">
								<h5>2015 - Present</h5>								
								<h2>MSc in Bioinformatics and System Biology<br />
								University of Manchester</h2>
								<p>Learned to <a href="#three" class="more scrolly">code</a> in Python, Java, Perl and R to create and use software to analyse genomic and proteomic data for
								clinical research. Applied statistical analysis and created and manipulated spreadsheets with R and Excel, improved
								work ethic and IT skills. I am currently working on a structural bioinformatics project with Dr Tabernero.
</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/grad.jpg" alt="" /></div><div class="content">
								<h5>2012 - 2015</h5>
								<h2>BSc in Biotechnology with Enterprise<br />
								University of Manchester</h2>
								<p>I was taught to analyse data and information derived from lab experiments and biological databases as well as from market
								research to create knowledge and derive deep insights. Modules included clinical drug development, data analysis,
								pharmacology, biotechnology, drugs and the brain, management and enterprise.
								Communicated my research verbally and through written work. Led team projects, participated in discussion boards,
								debates, seminars and business workshops such as the XING business game and the Teamwork Challenge.
								Graduated in the summer of 2015 with a 2.1 with honours, having obtained a First in my dissertation.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/folss.jpg" alt="" /></div><div class="content">
								<h5>2012 - 2015</h5>								
								<h2>Committee executive<br />
								Faculty of Life Science's Society</h2>
								<p>Democratically elected as: 1st year representative, events and marketing manager (2nd year) and vice president (3rd year).
								Organised and managed events for the students of the Faculty of Life Sciences and designed the Society’s logo, posters and all other advertising material.
								During my time in committee we managed to pay off the 2k debt the society was in (created in the previous management) and increased the society's budget to surpass 4 figures.</p>
							</div>
						</section>
						
						<section class="spotlight">
							<div class="image"><img src="images/bspp.jpg" alt="" /></div><div class="content">
								<h5>2014</h5>								
								<h2>Undergraduate researcher<br />
								University of Sheffield</h2>
								<p>Carried out a 10 week BSPP-funded plant pathology project studying the wheat metabolome during fungal pathogenesis.
								Applied LC-MS and microscopy and analysed results, improving analytical skills and time management. Assisted Dr
								Hughes in RGAT Seeds pathology research and attended the BSPP presidential conference in St Andrews.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/volunteered02.jpg" alt="" /></div><div class="content">
								<h5>2010 - 2015</h5>								
								<h2>Volunteering</h2>
								<h4>Public speaker</h4>								
								<p>Outreach Events for the University of Manchester.</p>
								<h4>Team leader</h4>
								<p>In ADAHMA, ran mind-stimulating activities for children with ADHD.</p>
								<h4>Volunteer</h4>		
								<p>In Condemned to the Curbs, ran activities for handicapped children of different physical and mental capabilities.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style2 special">
						<div class="inner">
							<header class="major">
								<h2>Here are the skills & competences acquired</h2>
								<p>Additional information can be found <a href="about.html">here</a>.</p>
							</header>
							<ul class="features">
								<li id="IT" class="icon fa-laptop">
									<h3><a href="CV.html#msc">IT Proficiency</a></h3>
									<p>Linux<br />Microsoft Office Suite<br />Adobe Creative Cloud<br /> - Photoshop CC<br /> - Animate CC<br /> - Premiere CC<br /> - AfterEffects CC<br />RStudio<br />Sequence Alignment Tools</p>
								</li>
								<li id="prog" class="icon fa-code">
									<h3><a href="CV.html#msc">Coding / programming</a></h3>
									<p>Python<br />Perl<br />Java<br />R<br />HTML<br />CSS<br />JS</p>
								</li>
								<li id="science" class="icon fa-flask">
									<h3><a href="CV.html#bsc">Biological sciences</a></h3>
									<p>Biotechnology<br />Pharmacology<br />Neuroscience<br />Metabolite Extraction<br />Liquid Chromatography<br />Mass Spectrometry<br />Bioinformatics<br />Bioethics<br />Genetic Modification<br />Protein purification</p>
								</li>
								<li id="data" class="icon fa-list-alt">
									<h3><a href="CV.html#msc">Data analysis</a></h3>
									<p>Statistical Analysis<br />Predictive Modelling Techniques<br /> - Regression<br /> - Clustering<br />Correlation<br />Knowledge of Analytical Tools</p>
								</li>
								<li id="lang" class="icon fa-language">
									<h3>Languages</h3>
									<p>English: fluent<br />
									Spanish: fluent<br />
									Catalan: expert<br />
									German: beginner</p>
								</li>
								<li id="team" class="icon fa-group">
									<h3>Teamwork and <a href="CV.html#binsoc">leadership</a></h3>
									<p><a href="CV.html#folss">Running the FLS Society</a><br /><a href="CV.html#binsoc">Running the Bioinformatics Society</a><br />Team projects<br />Group presentations<br />Leading teams of volunteers in ADHAMA<br />Leading and motivating groups in summer camp programs<br /><a href="CV.html#rh">Managing events</a></p>
								</li>
								<li id="write" class="icon fa-file-text-o">
									<h3><a href="CV.html#bsc">writing skills</a></h3>
									<p>Scientific report writing:<br />
									- Lab reports<br />
									- Data analysis<br />
									Essay writing<br />
									Grant application writing<br />
									Market analysis report writing<br />
									Product feasibility report writing</p>
								</li>

								<li id="business" class="icon fa-briefcase">
									<h3>Business</h3>
									<p><a href="CV.html#rh">Commercial awareness</a><br /><a href="CV.html#bsc">Market research</a><br /> - Quantitative<br /> - Qualitative<br /><a href="CV.html#bsc">Problem solving</a><br /><a href="CV.html#wb">Perseverance</a><br /><a href="CV.html#folss">Planning</a><br /><a href="CV.html#wb">Customer focus</a></p>
								</li>

								<li id="other" class="icon fa-star">
									<h3>Other skills</h3>
									<p><a href="CV.html#binsoc">Presentation</a><br /><a href="CV.html#out">Public speaking</a><br /><a href="CV.html#wb">Work well under pressure</a><br /><a href="CV.html#msc">Good work ethic</a><br /><a href="CV.html#sj">Conversate with ease</a><br />Fast learner<br />Flash animation</p>
								</li>
							</ul>
						</div>
			<br />
			<br />
			<center><ul class="actions">
			<li><a href="whichcv.html" class="button fit">view CV</a></li>
			<li><a href="about.html" class="button fit">about</a></li>
			</ul>
			</center>
	<center><a href="#banner" class="more scrolly"><span class="icon fa-arrow-up"></span></a></center>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Want your own website?</h2>
								<center><h3><a href="webdesign.html">***coming soon***</a></h3></center>
							
								<p>Contact me for personalised web designs that will suit your business at the cheapest price.</p>
							</header>
							<ul class="actions vertical">
								<br />
								
								<li><a href="index.html" class="button fit special">Home</a></li>
								<li><a href="http://www.pettiblog.com" class="button fit">PettiBlog</a></li>
							</ul>
						</div>
					</section>
