<!-- Header -->
<header id="cvheader"{% if page.layout == 'landing' %} class="alt"{% endif %}>
	<h4><a href="#edu" class="more scrolly" style="text-decoration:none;">Education</a></h4>
	<w><h4><a href="#work" class="more scrolly" style="text-decoration:none;">Experience</a></h4></w>
	<r><h4><a href="#responsability" class="more scrolly" style="text-decoration:none;">Responsibilities</a></h4></r>
	<s><h4><a href="#skills" class="more scrolly" style="text-decoration:none;">Skills</a></h4></s>  
	<int><h4><a href="#int" class="more scrolly" style="text-decoration:none;">Interests</a></h4></int>

</header>
