---
layout: cvdefault
---
<article id="main">

  <header>
    <h1>{{ page.title }}</h1>

   <!-- <h4>quick navigation</h4></center>
		<center><a href="#edu" class="more scrolly">Education</a> <span class="icon fa-minus"></span>
		<a href="#work" class="more scrolly">Work experience</a> <span class="icon fa-minus"></span>
		<a href="#volunt" class="more scrolly">Volunteering</a> <span class="icon fa-minus"></span>
		<a href="index.html#three">Skills</a>-->
  </header>
  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
