---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
  </header>
    <p><span class="icon fa-quote-left"></span> I hold a BSc in Biotechnology (with business studies) and I am currently completing a MSc in Computational Biology. I have worked part-time in different promotional companies in PR, marketing, sales and management; I have run two student societies in various executive roles for nearly four years and in my free time I <a href="#volunt" class="more scrolly">volunteer</a> and also take online courses to improve my programming skills. I am looking for experience in management in the pharma and biotech industry where I can apply all of my <a href="index.html#three">skills</a>. <span class="icon fa-quote-right"></span></p>
<ul class="actions">
	<li><a href="mailto:nicolaspettican@gmail.com" class="button fit">Contact me</a></li>
</ul>
<a href="#cv" class="more scrolly">Learn More</a>
  
  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
