{{/* Icon row for the "Get in touch" section on the homepage. */}}
<ul class="np-contact">
  <li><a href="mailto:middlewaymonk@gmail.com">{{ partial "icon.html" "envelope" }}<span>Email</span></a></li>
  <li><a href="https://linkedin.com/in/nicolaspettican">{{ partial "icon.html" "linkedin" }}<span>LinkedIn</span></a></li>
  <li><a href="https://github.com/nickpettican">{{ partial "icon.html" "github" }}<span>GitHub</span></a></li>
  <li><a href="https://instagram.com/middlewaymonk">{{ partial "icon.html" "instagram" }}<span>Instagram</span></a></li>
  <li><a href="https://offeringbowl.org">{{ partial "icon.html" "offering-bowl" }}<span>Offering Bowl</span></a></li>
</ul>
